In [ ]:
# https://www.sciencedirect.com/science/article/pii/S0261517721000388
# https://zenodo.org/record/4446043#.Y_6sNjfMLix

### Método de precificação hedônica
# https://www.youtube.com/watch?v=KBJ6bulHJmY

In [36]:
import pandas as pd
from glob import glob

In [37]:
def wrangle(city, file):
  df = pd.read_csv(file)
  df.drop(columns=[
      "Unnamed: 0", "room_private", "room_shared", "biz", "bedrooms", "multi", "attr_index", "rest_index",
    ], 
      inplace= True)
  df.rename(columns={
      "realSum": "Preço_EURO", # o preço total para 2 pessoas e 2 noites (em EURO)
      "room_type": "Tipo_Quarto", 
      "person_capacity": "Máximo_Pessoas",
      "host_is_superhost": "SuperHost?",
      "cleanliness_rating": "Avaliação_Limpeza",
      "guest_satisfaction_overall": "Avaliação_Acomodação",
      "dist": "Dist.Centro", # distância do Centro da Cidade em KM
      "metro_dist": "Dist.Metrô", # distância da Estação de Metrô (mais próxima) em KM
      "attr_index_norm": "Índice_Atração",
      "rest_index_norm": "Índice_Restaurantes",
      "lng": "Lon",
      "lat": "Lat"
    }, 
      inplace=True)
  df["Avaliação_Acomodação"] = df["Avaliação_Acomodação"] / 10
  df["Máximo_Pessoas"] = df["Máximo_Pessoas"].astype(int)
  df["Cidade"] = city

  return df

In [38]:
files = glob("/content/drive/MyDrive/Colab_Notebooks/Datasets/Airbnb_Prices_in_European_Cities/*_weekdays.csv")
# for i in range(len(files)):
#   print(files[i].split("/")[7].split("_")[0])

In [39]:
dataframes = [] 
for file in files:
  city = file.split("/")[7].split("_")[0]
  file = wrangle(city, file)
  dataframes.append(file)

In [40]:
df = pd.concat(dataframes, ignore_index=True)

In [41]:
df.head()

,Preço_EURO,Tipo_Quarto,Máximo_Pessoas,SuperHost?,Avaliação_Limpeza,Avaliação_Acomodação,Dist.Centro,Dist.Metrô,Índice_Atração,Índice_Restaurantes,Lon,Lat,Cidade
0,194.033698,Private room,2,False,10.0,9.3,5.022964,2.539380,4.166708,6.846473,4.90569,52.41772,amsterdam
1,344.245776,Private room,4,False,8.0,8.5,0.488389,0.239404,33.421209,58.342928,4.90005,52.37432,amsterdam
2,264.101422,Private room,2,False,9.0,8.7,5.748312,3.651621,3.985908,6.646700,4.97512,52.36103,amsterdam
3,433.529398,Private room,4,False,9.0,9.0,0.384862,0.439876,26.119108,60.973565,4.89417,52.37663,amsterdam
4,485.552926,Private room,2,True,10.0,9.8,0.544738,0.318693,29.272733,56.811677,4.90051,52.37508,amsterdam

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25500 entries, 0 to 25499
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Preço_EURO            25500 non-null  float64
 1   Tipo_Quarto           25500 non-null  object
 2   Máximo_Pessoas        25500 non-null  int64
 3   SuperHost?            25500 non-null  bool
 4   Avaliação_Limpeza     25500 non-null  float64
 5   Avaliação_Acomodação  25500 non-null  float64
 6   Dist.Centro           25500 non-null  float64
 7   Dist.Metrô            25500 non-null  float64
 8   Índice_Atração        25500 non-null  float64
 9   Índice_Restaurantes   25500 non-null  float64
 10  Lon                   25500 non-null  float64
 11  Lat                   25500 non-null  float64
 12  Cidade                25500 non-null  object
dtypes: bool(1), float64(9), int64(1), object(2)
memory usage: 2.4+ MB

In [43]:
df["Cidade"].unique()

array(['amsterdam', 'athens', 'barcelona', 'berlin', 'budapest', 'lisbon',
       'london', 'paris', 'rome', 'vienna'], dtype=object)

In [44]:
df.to_csv("/content/drive/MyDrive/Colab_Notebooks/Datasets/Airbnb_Prices_in_European_Cities/cities_weekdays.csv")